#header 
  #new-space +
  h1
    a(href='/') Projects
    span=' > '
    - if (story.url)
      a#projectName(href=story.url.substr(0, story.url.indexOf('/', 1)))=story.project
    - else
      span#projectName=story.project
    span=' > '+story.title

input#storyTitle(type='hidden', value=story.title)
input#storyUrl(type='hidden', value=story.url || '')

#content

- if (message)
  h3=message